
  #todoList1 {
    background-color: lightslategray;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  #todoList2 {
    background-color: lightcoral;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  
  ul {
    list-style: none;
  }
  
  ul li {
    padding: 5px;
    margin: 5px 0;
    background-color: lightblue;
    font-size: small;
  }

  #delBtn {
    background: red;
    width: 10%;
    float: right;
    margin-right: 10px;
    border-radius: 4px;
    font-weight: bold;
  }

  #delBtn:hover {
    background: darkslategrey;
  }

  #okBtn {
    background: lightgreen;
    float:right;
    width: 10%;
    border-radius: 4px;
    font-weight: bold;
  }

  #okBtn:hover {
    background: darkseagreen;
  }
  
  #addTodo {
    padding: 2rem;
    background: lightgreen;
  }
  
  #addTodo label {
    display: block;
  }
  
  #addTodo input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid orange;
  }
  
  #addItem {
    display: block;
    width: 12%;
    background: #333;
    color: #fff;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    margin-left: 30px;
  }
  
  #addItem:hover {
    background: #444;
  }
  
